pypi.halide-lang.org {
  reverse_proxy pypi:8080

  header {
    Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
    X-Frame-Options DENY
    X-Content-Type-Options nosniff
  }
}

buildbot.halide-lang.org {
  redir / /master/ temporary

  handle_path /master/* {
    handle /sse/* {
      reverse_proxy buildbot:8012 {
        flush_interval -1
      }
    }

    reverse_proxy buildbot:8012
  }

  header {
    Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
    X-Frame-Options DENY
    X-Content-Type-Options nosniff
  }
}
