buildbot.halide-lang.org {
  handle_path /master/* {
    handle /sse/* {
      reverse_proxy buildbot:8012 {
        flush_interval -1
      }
    }

    reverse_proxy buildbot:8012
  }

  handle {
    root * /artifacts
    file_server browse
  }

  header {
    Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
    X-Frame-Options DENY
    X-Content-Type-Options nosniff
  }
}
