pypi.halide-lang.org {
  reverse_proxy pypi:8080

  header {
    Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
    X-Frame-Options DENY
    X-Content-Type-Options nosniff
  }
}

buildbot.halide-lang.org {
  redir / /master/ temporary

  handle_path /master/* {
    reverse_proxy buildbot:8012 {
      @error status 5xx
      handle_response @error {
        header Content-Type text/html
        root * /srv
        rewrite * /maintenance.html
        file_server
      }
    }
  }

  header {
    Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
    X-Frame-Options DENY
    X-Content-Type-Options nosniff
  }
}
