# Buildbot core
buildbot[bundle]~=3.0
buildbot-worker~=3.0
txrequests

# Version 3.4+ requires a Rust compiler (!?) to be installed on the host system
cryptography<3.4

# Platform-specific requirements
pywin32==300; sys_platform == 'win32'
