# Buildbot core
buildbot[bundle]~=3.1
buildbot-worker~=3.1
twisted==23.10.0
txrequests==0.9.6

cryptography==43.0.0

# Platform-specific requirements
pywin32==301; sys_platform == 'win32'

# Development tools
ruff==0.8.6
