name: Python Linter
on:
  push:
    paths:
      - "**.py"
      - "**.cfg"
      - "**.tac"
jobs:
  lint:
    name: flake8
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Set up flake8 annotations
        uses: rbialon/flake8-annotations@v1
      - name: Run flake8
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8
          flake8 .
