name: Python Linter
on:
  push:
    paths:
      - "**.py"
      - "**.cfg"
      - "**.tac"
jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # Check linter rules
      - uses: astral-sh/ruff-action@v3

      # Check formatting is correct
      - uses: astral-sh/ruff-action@v3
        with:
          args: "format --check"
