name: Python Linter
on: push
jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Check linter rules
        uses: astral-sh/ruff-action@v3

      - name: Check formatting is correct
        uses: astral-sh/ruff-action@v3
        with:
          args: "format --check"

  ty:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v6

      - name: Type-check master config
        run: |
          uv sync
          uv run --package master ty check master/master.cfg master/custom_steps.py

  bandit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run bandit
        run: |
          pip install bandit
          bandit -c pyproject.toml -r master/master.cfg master/custom_steps.py master/buildbot.tac worker/buildbot.tac

  codespell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run codespell
        run: |
          pip install codespell
          codespell

  vulture:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run vulture
        run: |
          pip install vulture
          vulture master/master.cfg master/custom_steps.py master/buildbot.tac worker/buildbot.tac
