name: Buildbot Validations
on: push
jobs:
  config-ok:
    name: Check buildbot config on Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - uses: astral-sh/setup-uv@v6

      - name: Check config
        run: |
          echo "$GITHUB_TOKEN" > secrets/github_token.txt
          openssl rand -hex 20 > secrets/buildbot_www_pass.txt
          openssl rand -hex 20 > secrets/halide_bb_pass.txt
          openssl rand -hex 20 > secrets/webhook_token.txt
          uv run --package master buildbot checkconfig master

  worker-deps:
    name: Check worker dependencies install on ${{ matrix.runner }}
    runs-on: ${{ matrix.runner }}

    strategy:
      matrix:
        runner:
          - macos-latest
          - macos-13
          - ubuntu-22.04-arm
          - ubuntu-latest
          - windows-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - uses: astral-sh/setup-uv@v6
      - run: uv sync --package worker
